   /*****************Base CSS***************/
   * {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
  }
  body{
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .container{
    margin:50px;
  }
   .container > div{
      border:2px solid brown;
      position:relative;
      padding:30px 10px 5px 10px;
      margin-right:10px;
      margin-left:10px;
      margin-bottom:10px;
      background-color:rgb(83, 81, 81);
      color:white;
    }
    h3{
      position:absolute;
      top:0px;
      right:0px;
      border:2px solid burlywood;
      background-color:rgb(24, 24, 23);
    }
    h1{
      margin-left:50%;
    }
/*****************Desktop ***********************/
@media (min-width:992px){
.col-lg-4 {
    float: left;
    width:calc(33.33% - 20px);
}
} 
/*****************Tablet ***********************/ 
@media (min-width: 768px) and (max-width:991px) {
.col-md-6{
    float:left;
    width:calc(50% - 20px);
}
.col-md-12{
  width:calc(100% - 20px);
}
}       