
/************************* Base CSS****************************/
 * {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}
body{
  font-family: 'Times New Roman', Times, serif;
}
section{
    background-color: burlywood;
    position:relative;
    border:1px solid black;
    padding:10px;
    padding-top:35px;

}
.section-title{
  background-color: #5F9EA0;
  position:absolute;
  top:0px;
  right:0px;
}
/* section{
    padding-top: 35px;
    /* margin:10px; *//*
} */
/************************* Desktop****************************/
        @media (min-width: 992px) {
         .col-lg-4{
             float:left;
             border:1px solid green;
             width: 33.33%;
          }
         }
          /************************* Tablet ****************************/ 
@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6{
    float: left;
    border: 1px solid green;
    width: 50%;
  }
  /* .col-md-12{
    float: left;
    border: 1px solid green;
    width: 50%;
  } */
}   
/************************* Mobile****************************/
/* @media (max-width: 767px) {
  #sec1, #sec2, #sec3 {
    border: 1px solid green;
    width:100%
  }
} */
