/************************* Desktop****************************/
     * {
  box-sizing: border-box;
}
section{
    background-color: burlywood;
    position:relative;

}
.section-title{
  background-color: #5F9EA0;
  position:relative;
  top:0px;
  right:0px;
  position:top right;
     
}
section{
    padding: 2px;
    margin:10px;
}
/************************* Desktop****************************/
        @media (min-width: 992px) {
         .col-lg-4{
             float:left;
             border:1px solid green;
             width: 33.33%;
  }
         }
          /************************* Tablet ****************************/ 
@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6{
    float: left;
    border: 1px solid green;
    width: 50%;
  }
  .col-md-12{
    float: left;
    border: 1px solid green;
    width: 50%;
  }
}   
/************************* Mobile****************************/
@media (max-width: 992px) {
  #sec1, #sec2, #sec3 {
    border: 1px solid green;
    width:100%
  }
}
